:root {
    --first-family: "Cormorant Upright", system-ui;
    --second-family: "Open Sans", system-ui;
}

body {
    font-family: var(--first-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    background-color: #0c0b08;
    color: #fff;
    overflow-x: hidden;
}

.container {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-big {
    max-width: 1720px;
    padding: 0 20px;
    margin: 0 auto;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.button-yellow {
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #0c0b08;
    padding: 8px 0;
    width: 157px;
    text-align: center;
    display: inline-block;
    background: #dcca87;
    transition: .4s;
}

.button-yellow:hover {
    transform: scale(1.05);
    transition: .4s;
}

.appearance-top {
    animation: topAppearance .3s linear 1 forwards;
}

.delay-2 {
    animation-delay: .2s;
}

.delay-3 {
    animation-delay: .3s;
}

.delay-4 {
    animation-delay: .4s;
}

.header {
    font-family: var(--second-family);
    display: grid;
    grid-template-areas: "logo nav links";
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.logo {
    grid-area: logo;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

nav {
    grid-area: nav;
}

.nav__list {
    display: flex;
    gap: 0 32px;
    align-items: center;
}

.nav__list>li>a {
    text-transform: capitalize;
    letter-spacing: 0.04em;
    transition: .4s;
}

.nav__list>li>a:hover {
    color: #dcca87;
    transition: .4s;
}

.header__links {
    grid-area: links;
}

.header__links>a {
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.header__links>a:first-child {
    position: relative;
    padding-right: 50px;
    margin-right: 50px;
}

.header__links>a:first-child::after {
    content: url("../images/svg/line-vertical.svg");
    position: absolute;
    right: 0;
    top: -17.5px;
    width: 1px;
    height: 57px;
}

.header__menu {
    font-size: 26px;
    display: none;
    grid-area: menu;
}

.intro {
    padding: 48px 0 148px;
    overflow: hidden;
}

.intro__inner {
    display: flex;
    align-items: center;
    gap: 0 180px;
}

.intro>div>div:first-child {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    align-items: center;
}

.intro__links {
    display: inline-flex;
    gap: 0 40px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.intro__links a {
    transition: .4s;
}

.intro__links a:hover {
    color: #dcca87;
    transition: .4s;
}

.intro__content {
    max-width: 454px;
    min-width: 454px;
}

.intro__content>p:first-of-type {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    padding-bottom: 8px;
    opacity: 0;
}

.intro__content>p:first-of-type>img {
    width: 40px;
    height: 9px;
    display: block;
}

h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #dcca87;
    padding-bottom: 32px;
    opacity: 0;
}

.intro__content>p:last-of-type {
    font-family: var(--second-family);
    letter-spacing: 0.04em;
    color: #aaa;
    padding-bottom: 32px;
    opacity: 0;
}

.intro__content>a {
    opacity: 0;
}

.intro>div>div:last-child {
    width: 51%;
}

.intro__slider {
    width: 667px;
    overflow: hidden;
}

.intro__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
    padding: 0 5px;
}

.intro__pagination {
    margin: 64px auto 0;
    text-align: center;
}

.intro__pagination .slick-dots {
    display: flex;
    gap: 0 8px;
}

.intro__pagination .slick-dots li button {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
}

.intro__pagination .slick-dots li button::before {
    content: "0";
}

.intro__pagination .slick-dots li.slick-active button {
    margin-right: 24px;
    transition: .2s;
}

.intro__pagination .slick-dots li.slick-active button::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 1.3px;
    background-color: #dcca87;
    left: 22px;
    top: 13px;
    transition: .2s;
}

.intro>div:last-child {
    position: relative;
}

.intro__button {
    position: absolute;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #dcca87;
    right: 20px;
    bottom: 0;
    vertical-align: bottom;
}

.intro__button::before {
    content: url(../images/svg/line-yellow.svg);
    position: absolute;
    display: block;
    top: -72px;
    left: 30px;
}

.about {
    background-image: url(../images/about/back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 136px;
    position: relative;
}

.about>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 74px;
    position: relative;
    z-index: 2;
}

.about__inner>div {
    flex: 1 1 40%;
}

.about__inner {
    flex: 1 1 fit-content;
}

.about__inner>div>img {
    opacity: 0;
}

.about__inner>div:first-child {
    text-align: end;
}

.about__inner>div:last-child {
    text-align: start;
}

.about__inner>div>div {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #dcca87;
    padding-bottom: 8px;
    position: relative;
}

.about__title {
    opacity: 0;
}

.about__inner>div>img {
    display: block;
    width: 40px;
    height: auto;
    padding-bottom: 32px;
}

.about__inner>div:first-child>img {
    position: relative;
    left: calc(100% - 40px);
}

.about__inner>div:last-child>img {
    position: relative;
    left: 0;
}

.about__inner>div>p {
    font-family: var(--second-family);
    letter-spacing: 0.04em;
    color: #aaa;
    padding-bottom: 32px;
    opacity: 0;
}

.about__inner>div>a {
    opacity: 0;
}

@keyframes topAppearance {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}