@media screen and (max-width: 1400px) {
    .intro__inner {
        gap: 0 40px;
        justify-content: center;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        grid-template-areas: "logo links"
            "nav nav";
        gap: 30px 20px;
    }

    nav {
        width: fit-content;
        margin: 0 auto;
    }

    .intro__inner {
        justify-content: start;
    }

    .intro__slider {
        width: 467px;
    }
}

@media screen and (max-width: 980px) {
    h1 {
        font-size: 70px;
        line-height: 1.1;
        padding-bottom: 22px;
    }

    .intro__content>p:last-of-type {
        padding-bottom: 22px;
    }

    .intro__content {
        max-width: 404px;
        min-width: 404px;
    }

    .intro__inner {
        gap: 0 20px;
    }
}

@media screen and (max-width: 860px) {
    .intro__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px 0;
    }

    .intro__content {
        max-width: 100%;
        min-width: 100%;
    }

    .intro>div>div:last-child {
        width: fit-content;
    }

    .intro__slider {
        width: 667px;
    }
}