@media screen and (max-width: 1100px) {
    .header {
        grid-template-areas: "logo links"
            "nav nav";
        gap: 30px 20px;
    }

    nav {
        width: fit-content;
        margin: 0 auto;
    }
}